body {
	color: black;
}

div.loading {
	background-color: #676B93;
	border: 4px solid #D8E3FD;
	border-style: ridge;
	color: white;
	font-weight: bold;
	width: 8em;
	height: 3em;
	text-align: center;
	padding: 10px;
}

.log-panel .log-scroll-panel {
	width: 800px;
	height: 150px;
}

.log-panel {
	display: none;
}

code {
	font-size: small;
}

a {
	color: darkblue;
}

.vertical-label {
	padding: 0px;
	width: 13px;
	border: 0px;
	margin: 0px;
	line-height: 100%;
	text-align: right;
}

a:visited {
	color: darkblue;
}

.gwt-Button {
	background-color: #DDDDDD;
	color: white;
}

.gwt-Button-CalcButton {
	border: 4px solid #D8E3FD;
	border-style: ridge;
}

.loginToggle {
	color: #000099;
	font-size: .8em;
	text-decoration: underline;
}

.editableLabel-label-hover {
	background-color: #6492FF;
}

.StatusPanel {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0%;
	width: 200px;
	height: 40px;
	background-color: transparent;
	margin: 0 auto; /* align for good browsers */
	text-align: left; /* counter the body center */
	border: 0px;
}

.StatusLabel {
	width: 5px;
	height: 20px;
	filter: alpha(opacity =     40);
	-moz-opacity: .40;
	opacity: .40;
	-khtml-opacity: .4;
}

.StatusLabel-Send {
	background: yellow;
}

.StatusLabel-Fail {
	width: 100%;
	height: 100%;
	background: red;
}

.StatusLabel-Success {
	background-color: green;
}

.ControlButton {
	width: 40px;
}

.NumberButton {
	width: 10px;
}

.ResultBox {
	text-align: right;
}

.TC-ProcessTypes {
	left: 200px;
	font-size: 12pt;
}

.TC-App-CheckBoxes {
	position: absolute;
	left: 200px;
}

.TC-App-CheckBox {
	width: 50px;
	background-color: #CDD6EA;
}

.TC-App-CheckBox Even {
	background-color: #D5EDE6;
}

.TC-CollegeEntry {
	border: 1px solid #87B3FF;
	background-color: #EEEEEE;
	padding: 4px;
	width: 100%;
	min-width: 300px;
}

.TC-CollegeLabel {
	
}

.TC-CollegeEntry-RankLabel {
	font-size: 20pt;
}

.TC-DecisionRanked {
	background-color: #CDD6EA;
}

.TC-DecisionRanked-Even {
	background-color: #D5EDE6;
}

.TC-DecisionRanked-Rank {
	background-color: white;
	font-size: 18pt;
}

.TC-DecisionRanked-Pct {
	left: 40px;
	font-size: 18pt;
}

.TC-Popup {
	background-color: white;
	border: 1px solid #87B3FF;
	padding: 4px;
}

.TC-Popup-Status {
	
}

.ForumPost {
	
}

.ForumPosts .Odd {
	background-color: #EEEEEE;
}

.ForumPosts .title {
	width: 250px;
	min-width: 250px;
}

.ForumPosts .replies {
	text-align: right
}

.ForumPosts .date {
	font-size: .8em;
	color: #dddddd;
}

.ForumPost {
	border-top: 1px solid grey;
	padding: 10px;
}

.ForumPost .gwt-Hyperlink {
	
}

.ForumPost-Short {
	border-top: 2px solid grey;
	padding: 10px;
}

.ForumPost .Link {
	color: #2244BB;
	font-size: 1.4em;
}

.AuthorSide {
	background-color: #EEEEEE;
}

.PostSide {
	width: 400px;
}

.gwt-Label-title {
	border-bottom: 2px solid grey;
	font-size: 1.2em;
}

.ForumControl {
	color: #2244BB;
	font-weight: bold;
	border: 4px;
}

.Rating {
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	font-size: 7pt;
}

.Rating-Hover {
	font-size: 15pt;
}

.Rating-Selected {
	font-weight: bold;
	font-size: 10pt;
}

.RatingChooser {
	cursor: pointer;
}

.ProConPanel {
	
}

.ProConPanel-Pro {
	background-color: #99FF99;
}

.ProConPanel-Con {
	background-color: #FF9999;
}

.gwt-DialogBox {
	border: 3px ridge #C3D9FF;
	background-color: white;
}

.gwt-DialogBox .Caption {
	background-color: #e3e8f3;
	padding: 4px 4px 4px 8px;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
}

.gwt-SuggestBoxPopup {
	border: 2px solid #576B93;
	background: white;
	z-index: 9999;
}

.gwt-SuggestBoxPopup .item {
	text-align: left;
	padding: 1px;
	font-size: small;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #C3D9FF;
	padding: 1px;
}

.gwt-TabBar {
}

.gwt-TabBar .gwt-TabBarFirst {
  width: 5px;  /* first tab distance from the left */
}

.gwt-TabBar .gwt-TabBarRest {
}

.gwt-TabBar .gwt-TabBarItem {
  border-collapse: collapse;
  margin-left: 6px;
}

.gwt-TabBar .gwt-TabBarItem .topCenter {
  padding: 0px;
  background: url('%hborder%') 0px -32px repeat-x;
}

.gwt-TabBar .gwt-TabBarItem .topLeft,
.gwt-TabBar .gwt-TabBarItem .topRight {
  padding: 0px;
  zoom: 1;
}

.gwt-TabBar .gwt-TabBarItem .topLeftInner,
.gwt-TabBar .gwt-TabBarItem .topRightInner {
  width: 6px;
  height: 6px;
}

.gwt-TabBar .gwt-TabBarItem .middleLeft,
.gwt-TabBar .gwt-TabBarItem .middleRight {
  width: 6px;
  padding: 0px;
  background: #e4e9f3 url('%bg_tab%') repeat-x;
}

.gwt-TabBar .gwt-TabBarItem .middleCenter {
  padding: 0px 4px 2px 4px;
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
  text-align: center;
  background: #e4e9f3 url('%bg_tab%') repeat-x;
}

.gwt-TabBar .gwt-TabBarItem-selected .topCenter {
  background: url('%hborder%') 0px -38px repeat-x;
}

.gwt-TabBar .gwt-TabBarItem-selected .middleLeft,
.gwt-TabBar .gwt-TabBarItem-selected .middleRight {
  background: #92c1f0 url('%bg_tab_selected%') repeat-x;
}

.gwt-TabBar .gwt-TabBarItem-selected .middleCenter {
  cursor: default;
  background: #92c1f0 url('%bg_tab_selected%') repeat-x;
}

html>body .gwt-TabBar .gwt-TabBarItem .topLeft {
  background: url(img/corner.png) no-repeat 0px -55px;
}

html>body .gwt-TabBar .gwt-TabBarItem .topRight {
  background: url(img/corner.png) no-repeat -6px -55px;
}

html>body .gwt-TabBar .gwt-TabBarItem-selected .topLeft {
  background-position: 0px -61px;
}

html>body .gwt-TabBar .gwt-TabBarItem-selected .topRight {
  background-position: -6px -61px;
}

* html .gwt-TabBar .gwt-TabBarItem .topLeftInner {
  width: 5px;
  height: 61px;
  margin-top: -55px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/corner.png',sizingMethod='crop');
}

* html .gwt-TabBar .gwt-TabBarItem .topRightInner {
  width: 12px;
  height: 61px;
  margin-top: -55px;
  margin-left: -6px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/corner.png',sizingMethod='crop');
}

* html .gwt-TabBar .gwt-TabBarItem-selected .topLeftInner {
  width: 5px;
  height: 67px;
  margin-top: -61px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/corner.png',sizingMethod='crop');
}

* html .gwt-TabBar .gwt-TabBarItem-selected .topRightInner {
  width: 12px;
  height: 67px;
  margin-top: -61px;
  margin-left: -6px;
  overflow: hidden;  
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/corner.png',sizingMethod='crop');
}

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
  border-color: #92c1f0;
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding: 6px;
}

TABLE.monthDates TD {
	text-align: center;
}

TABLE.longRange TD {
	text-align: center;
	border-top: 1px solid gray cursor :           pointer;
	cursor: hand;
}

.longRange {
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

.txtbox {
	font-family: tahoma, sans-serif;
	font-size: 11px;
	color: #104A7B;
	background: #FFFFFF;
	border-bottom: 1px solid #336699;
	border-right: 1px solid #336699;
	border-left: 1px solid #336699;
	border-top: 1px solid #336699;
}

.date_DisplayPanel {
	font-family: tahoma, sans-serif;
	font-size: 11px;
	/*background-image: url("../img/blueFade.png");*/
	background-repeat: repeat-x;
	background-position: 0px -20px;
	background-color: #CFE0F5;
	/*background: #9393AF;*/
	z-index: 9999;
}

.calendarPanel {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}

.date_popupPanel {
	z-index: 9999;
}

.todayPanel {
	font-family: tahoma, sans-serif;
	font-size: 11px;
	/*float: right;*/
	font-weight: bold;
	color: white;
	text-align: center;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
	text-align: center;
}

.monthHeader {
	font-family: tahoma, sans-serif;
	font-size: 10px;
	font-weight: BOLD;
	text-align: center;
}

.monthHeaderHoliday {
	font-family: tahoma, sans-serif;
	font-size: 10px;
	font-weight: BOLD;
	color: #CCCCCC;
	text-align: center;
}

.holiday {
	font-family: Arial, tahoma, sans-serif;
	font-size: 10px;
	color: grey;
	text-align: center;
}

.holidaySelectable {
	color: #CCCCCC;
}

.calendarDate {
	font-family: Arial, tahoma, sans-serif;
	font-size: 10px;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
}

.selectedDate {
	color: white;
	/*background-color: #B2C4F2;*/
}

.monthYearTraversorBtn {
	color: white;
	font-family: tahoma, sans-serif;
	font-size: 11px;
	background: #104A7B;
	font-weight: bold;
	border-right: 0px solid gray;
	border-left: 0px solid gray;
	border-bottom: 0px solid gray;
	border-top: 0px solid gray;
	cursor: pointer;
	cursor: hand;
}

.monthYearTraversor {
	font-family: Arial, tahoma, sans-serif;
	font-size: 11px;
	background: #104A7B;
	color: #FFFFFF;
	font-weight: bold;
}

.ContextMenu {
	z-index: 9999;
	background-color: #CFE0F5;
	filter: alpha(opacity =                   88);
	-moz-opacity: .88;
	opacity: .88;
	-khtml-opacity: .88;
	color: white;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}

.ApplicationSelector-selected {
	font-weight: bolder;
}

.ZoomableTL-tl_hour {
	background-image: url('%tl_hour%');
}

.ZoomableTL-tl_day {
	background-image: url('%tl_day%');
}

.ZoomableTL-tl_week {
	background-image: url('%tl_week%');
}

.ZoomableTL-tl_3way {
	background-image: url('%tl_3way%');
}

.ZoomableTL-tl_month {
	background-image: url('%tl_month%');
}

.ZoomableTL-tl_year {
	background-image: url('%tl_year%');
}

.ZoomableTL-tl_decade {
	background-image: url('%tl_decade%');
}

.ZoomableTL-tl_3century {
	background-image: url('%tl_3century%');
}

.gwt-RichTextArea {
	background-color: white;
}