/*****************/ /*   MAIN BODY   */ /*****************/
body {
	font-size: 62.5%;
	margin: 0em auto;
	padding: 0em;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	background-color: #D2EAF9;
	background-color: #FFFFFF;
	/*background-image:url("../img/simplicity/ocean200.png");*/
}

#wrapper {
	background-color: blue;
}
#main {
	background-color: white;
	margin: 10px 10px 10px 10px;
	min-height: 500px;
}

h2 {
	font-size: 2em;
	font-weight: bold;
}

#header {
	
}

#header_logo {
	float: left;
	/*background-color: #B2BB2B;*/ /*green*/
}

#header_account {
	display: inline;
	float: right;
	width: 300px;
}

#header_account li {
	display: inline;
	list-style-type: none;
}

#header_account ul {
	margin-left: 0;
	padding-left: 0em;
}

#loginBox {
	min-height: 80px;
}

#header_logo img {
	margin-left: 25px;
}

#header_logoTitle.boxStyle {
	margin: 5px 0px 0px 90px;
	width: 560px;
	height: 88px;
}

#header_logoTitle p {
	font-size: 1.2em;
	font-weight: bold;
	color: #B2BB2B;
	text-indent: 25px;
}

#content { /*	padding-top: 140px;*/
	
}

#footer {
	clear: both;
	text-align: center;
	left: 30%;
	padding-bottom: 10px;
}

.clearRdiv {
	clear: right;
	font-size: 0pt;
	height: 1px;
	line-height: 0pt;
}

.cleardiv {
	clear: both;
	font-size: 0pt;
	height: 1px;
	line-height: 0pt;
}

#side2 {
	float: right;
	width: 34%;
}

#side1 {
	float: left;
	width: 65%;
}
#bottom {
	clear: both;
}
#searchSection {
 	
}
.searchRes li {
	display: inline;
	list-style-position: outside;
	list-style-type: none;
}

#topWeblinksSection {
	
}

#topWeblinksSection {
	
}
#seahorseSection {
	margin-left: 50px;
	
	list-style-position: inside;
}
#remember_me {
	height: 20px;
	width: 300px;
}

fieldset {
	border: none;
}

#signupForm fieldset {
	border: 1px solid black;
}

#signupForm legend {
	
}

#openIDSignup {
	width: 300px;
}

#loginForm input {
	margin-left: 10px;
}

.boxStyle {
	/*background: url(http://youcastr.com/images/finals/490_top.png) no-repeat
		top left;*/
	background: blue;
	
	margin: 5px;
	padding: 5px 0px 0px 0px;
	/*margin-left: 10px;
	margin-right: 10px;
	border-top: 2px solid #ffd324;
	border-bottom: 10px solid #ffd324;*/
}

.boxStyleSm {
	margin: 5px;
	padding: 5px 0px 0px 0px;	
	background: blue;	
}

.boxStyle h2 {
	
	color: white;
	font-size: 1.5em;
	margin: 0px 0px 3px 0px;
	text-indent: 1em;
}

.boxStyleSm h2 {
	color: white;
	font-size: 1.5em;
	margin: 0px 0px 3px 0px;
	text-indent: 1em;
}

.right {
	display: inline;
	float: right;
}

.boxStyle .boxContent {
	padding: 5px 0px 5px 0px;
	background-color: white;
	width: 100%;
}

.boxStyleSm .boxContent {
	padding: 5px 0px 5px 5px;
	/*background: white
		url(http://youcastr.com/images/finals/side_left.png) no-repeat scroll
		left top;	*/ background-color : white;
	width: 100%;
	background-color: white;
}
.boxStyle li {
	position: relative;
}

/*
.boxStyle .right {
	background: transparent
		url(http://youcastr.com/images/finals/side_right.png) no-repeat scroll
		right top;
	height: 81px;
	padding: 0px;
	width: 5px;
}

.boxStyleSm .right {
	background: transparent
		url(http://youcastr.com/images/finals/side_right.png) no-repeat scroll
		right top;
	height: 81px;
	padding: 0px;
	width: 5px;
}*/
.boxStyle ul {
	list-style-image: url("../img/rorsharch32px.png") ;
	list-style-position: outside;
	list-style-type: none;
}
.boxStyle h3 {
	width: 66%;
}
#topTopicsSection li {
	margin-bottom: 10px;	
}


h3 a {
	font-size: 14pt;
	text-decoration: none;
}

h3 a:hover {
	text-decoration: underline;
}

li .info {	
	font-size: 1.0em;	
	font-weight: bold;
	position:absolute;
	right:0.1em;
	top:0.1em;
	width: 200px;	
}
/*
position: absolute;
	right: 375px;
	display: inline;
*/
.info .type {
	color: gray;
	font-size: 6pt;
}

.subTopics {
	color: #888888;
	line-height: 1.2em;
	background-color: #eeeeee;
	padding: 2px;
}

.subTopics a {
	color: #888888;
	text-decoration: none;
}

.subTopics a:hover {
	text-decoration: underline;
}

.subTopics ul {
	margin-left: 0;
	padding-left: 0em;
	display: inline;
}

.subTopics li {
	display: inline;
}

legend {
	color: #600D25;
	font-size: 1.3em;
	font-weight: bold;;
	font-size: 1.3em;
}

a.link {
	color: blue;
}

input.openid-identifier {
	background: url(http://openid.net/login-bg.gif) no-repeat;
	background-color: #fff;
	background-position: 0 50%;
	color: #000;
	padding-left: 18px;
}

.slashUser {
	border-top: 30px;
	vertical-align: top;
	color: #CBD043;;
	font-size: 30pt;
}

#enterButton {
	border: 0px;
}

#userDetails {
	border: 25px;
}

.message {
	color: black;
	background: #fff6bf url("../img/sideSeaHorseSm.png") center no-repeat;
	background-position: 0px 2px;
	text-align: left;
	vertical-align: middle;
	padding-left: 45px;
	padding-right: 10px;
	height: 75px;
	margin-left: 10px;
	margin-right: 10px;
	border-top: 2px solid #ffd324;
	border-bottom: 2px solid #ffd324;
}

.error {
	color: red;
}

.splash-title {
	font-size: 60pt;
	line-height: 65pt;
}

.splash-word {
	font-size: 4em;
	line-height: 1em;
	position: relative;
	left: 20px;
	margin-bottom: .4em;
	margin-top: .4em;
}

.splash-definition {
	font-size: 2em;
	line-height: 1em;
	position: relative;
	margin-bottom: .4em;
	margin-top: .4em;
	left: 40px;
}

/*#sidebar ul {
	background-image: url("../img/blueFade.png");
	background-repeat: repeat-x;
	border: 1px solid #D8E3FD;
	border-style: ridge;
	margin-left: 10px;
	padding: 0px;
	width: 80%;
}*/
#sidebar ul {
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
}

#sidebar li {
	line-height: 2.5ex;
	list-style-type: none;
	background: black url("../img/sidebar_black_fade.png") repeat-y;
	display: block;
	margin-bottom: 5px;
	padding: 5px 0px 5px 5px;
}

#content a:link { /*color: blue;*/
	
}

#content a:visited { /*color: #B3AE94;*/
	
}

#sidebar a:link {
	color: blue;
}

#sidebar a:visited {
	color: #B3AE94;
}

#whatIsIsland li {
	line-height: 2.5ex;
	list-style-type: none;
	display: block;
	padding-left: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
}

#signupNow {
	margin-left: 5px;
	padding-bottom: 10px;
}

#tryItNow {
	width: 200px;
}

.middle-column-box-white {
	background: white;
	margin-left: 10px;
	margin-right: 10px;
	margin: 5px 50px 50px 90px;
}

.middle-column-box-white p {
	padding: 0px 5px 5px 5px;
}

.middle-column-box-title-green {
	font-size: 1.4em;
	font-weight: bold;
	/*filter: alpha(opacity =     50);
	-moz-opacity: .50;
	opacity: .50;
	-khtml-opacity: .5;*/
	background: #B6C022;
	
	padding: 5px;
}

.subheading {
	background-color: #eeeeee;
	font-weight: bold;
}

.tip-question {
	font-weight: bold;
}