body {
	background-color: transparent;
	color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div.loading {
	position: absolute;
	top: 45%;
	left: 45%;
	background-image: url("../img/blueFade.png");
	background-repeat: repeat-x;
	background-position: 0px -20px;
	background-color: #576B93;
	border: 4px solid #D8E3FD;
	border-style: ridge;
	color: white;
	font-weight: bold;
	width: 8em;
	height: 3em;
	text-align: center;
	padding: 10px;
}

code {
	font-size: small;
}

a {
	color: darkblue;
}

a:visited {
	color: darkblue;
}

.CalcButton {
	background-color: #DDDDDD;
	color: white;	
	border: 4px solid #D8E3FD;
	border-style: ridge;
}
.ControlButton {
	width: 40px;
}
.NumberButton {
	width: 10px;
}
.ResultBox {
	text-align: right;
}

.TC-ProcessTypes {
	left: 200px;
	font-size: 12pt;
}
.TC-App-CheckBoxes {
	position: absolute;
	left: 200px;
}
.TC-App-CheckBox {
	width: 50px;
	background-color: #CDD6EA;
}

.TC-App-CheckBox Even{	
	background-color: #D5EDE6;
}
.TC-CollegEntry {
	border: 1px solid #87B3FF;
	background-color: #EEEEEE;
	padding: 4px;
}

.TC-Popup {
  background-color: white;
  border: 1px solid #87B3FF;
  padding: 4px;
}
.Rating {
	font-size: 7pt;
}
.Rating-Hover {
	font-size: 15pt;
}
.ProConPanel {
}
.ProConPanel-Pro {
	background-color: #99FF99;
}
.ProConPanel-Con {
	background-color: #FF9999;
}

.gwt-SuggestBoxPopup {
	border: 2px solid #576B93;
	background: white;
	z-index: 9999;
}

.gwt-SuggestBoxPopup .item {
	padding: 1px;
	font-size: small;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #C3D9FF;
	padding: 1px;
}
.gwt-TabPanel .gwt-TabBar {	
	border-bottom: 1px solid #8A8FB5;
}
.gwt-TabPanel .gwt-TabBar .gwt-TabBarFirst { 
   
} 
.gwt-TabPanel .gwt-TabBar .gwt-TabBarSpacer { 
   
} 
.gwt-TabPanel .gwt-TabBar .gwt-TabBarRest { 
   
} 
.gwt-TabPanel .gwt-TabBar .gwt-TabBarItem { 
	padding: 4px;
    cursor: pointer; 
    border-bottom: 1px solid #5a6782; 
    color: white; 
    background-color: #879bc3; 
} 
.gwt-TabPanel .gwt-TabBar .gwt-TabBarItem-selected { 
    cursor: pointer; 
    border-top: 1px solid #5a6782; 
    border-left: 1px solid #5a6782; 
    border-right: 1px solid #5a6782; 
    background-color: #cdd6ea; 
} 
.gwt-TabPanel .gwt-TabPanelBottom { 
    border-left: 1px solid #5a6782; 
    border-right: 1px solid #5a6782; 
    border-bottom: 1px solid #5a6782; 
    /*background-color: #cdd6ea;*/ 
} 